@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>Create Person</h3>
@{
    <form asp-controller="Home" asp-action="DisplayPerson" id="form" method="post">
        <table>
            <tr>
                <td>First Name: </td>
                <td><input type="text" name="firstName" /></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" name="lastName" /></td>
            </tr>
            <tr>
                <td>Age: </td>
                <td><input type="text" name="age" /></td>
            </tr>
            <tr>
                <td>Email Address: </td>
                <td><input type="email" name="emailAddress" /></td>
            </tr>
            <tr>
                <td>Date of Birth: </td>
                <td><input type="date" name="dob" /></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>Description of Person: </td>
                <td><textarea rows="4" cols="50" name="description" form="form"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Submit" />
        <input type="reset" />
    </form>
}

<br /><br /><br />
@Html.ActionLink("Go Home", "Index", "Home") &nbsp;