@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>Table</h3>
<table style="width: 100%; border-spacing: 0;">
    @{
        @for (int i = 0; i < 4; i++)
        {
            <tr>
                @for (int j = 1; j <= 10; j++)
                {
                    <td style="border:solid 1px black; height:50px;">
                        @((i * 10) + j)
                    </td>
                }
            </tr>
        }
    }
</table>

<h3>99 Bottles of Beer</h3>
@{
    @for (int i = 99; i > 0; i--)
    {
        <p>
            @i bottles of beer on the wall, @i bottles of beer. You take one down, you pass it around, @(i - 1)
        </p>

        @if (i % 20 == 0)
        {
            <p>
                WOOO!
            </p>
        }

        @if (i == 49)
        {
            <p>
                awwww :(
            </p>
        }
    }
}

<br /><br /><br />
@Html.ActionLink("Go Home", "Index", "Home") &nbsp;