@model Lab4.Models.Movie
@{
    Layout = "_Layout";
}

<div style="padding-bottom:9px; margin: 40px 0 20px; border-bottom: 1px solid #eee; box-sizing: border-box">
    <h2>Add Movie</h2>
</div>

<form method="post" asp-controller="Home" asp-action="CreateMovie">
    <div class="form-group">
        <label for="Title">Title</label>
        <input id="Title" class="form-control" required maxlength="1000" name="Title" value="" type="text" asp-for="Title" />
    </div>
    <div class="form-group">
        <label for="SubTitle">SubTitle</label>
        <input id="SubTitle" class="form-control" required maxlength="1000" name="SubTitle" value="" type="text" asp-for="SubTitle" />
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea id="Description" class="form-control" rows="10" required maxlength="1000" name="Description" value="" type="text" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="Year">Year</label>
        <input id="Year" class="form-control" required name="Year" value="@DateTime.Now" type="datetime" asp-for="Year" />
    </div>
    <div class="form-group">
        <label for="Rating">Rating</label>
        <input id="Rating" class="form-control" required max="5" min="1" name="Rating" value="" type="text" asp-for="Rating" />
    </div>
    <br />
    <input class="btn btn-outline-dark" type="submit" value="Add Movie" />
</form>